<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN""http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://suihou-my.sharepoint.com/personal/rand12_5tb_site/_layouts/15/download.aspx?e=tIkoXb&share=ET-MGmsY2q1Oo2jaaWakx9kBazm4CQAPbxike8IeQvi3KA&cid=680ebace-0b0b-4e56-b4b7-b81c8f3acaa0&ithint=.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.XXX.XXX</string>
<key>bundle-version</key>
<string>1.00</string>
<key>kind</key>
<string>software</string>
<key>releaseNotes</key>
<string>测试OTA</string>
<key>title</key>
<string>在线安装</string>
</dict>
</dict>
</array></dict></plist>
